*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ****************************************** */

.main-app{
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    width: 70vw;
}

.Description{
    text-align: center;
}
.Description-header{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: blueviolet;
}
.description-para{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}


/* ************************************************** */

.input-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#bill-amount{
    font-size: 1rem;
    padding: 0.5rem;
    margin: 1rem;
    width: 50%;
    outline: none;
    border: 2px solid blueviolet;
    border-radius: 9px;
}
#cash-amount{
    font-size: 1rem;
    padding: 0.5rem;
    margin: 1rem;
    width: 50%;
    outline: none;
    border: 2px solid blueviolet;
    border-radius: 9px;
}
.btn{
    padding: 1rem 2rem;
    font-size: 1rem;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 9px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgba(137, 43, 226, 0.76);
}
table{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
table, td {
    margin: 2rem;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1rem;
    font-size: 1.3rem;
}